<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>권역 정보 샘플</title>
    <style>
      .area {
        position: absolute;
        background: #fff;
        border: 1px solid #888;
        border-radius: 3px;
        font-size: 12px;
        top: -5px;
        left: 15px;
        padding: 2px;
      }

      .info {
        font-size: 12px;
        padding: 5px;
      }
      .info .title {
        font-weight: bold;
      }
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a69d982a9d59a65763b3419ae7fc2f9"
    ></script>
    <script type="text/javascript" src="/data/sig.js"></script>
    <script type="text/javascript" src="/data/emd_s.js"></script>
    <script type="text/javascript" src="/javascripts/kakao.js"></script>
  </body>
</html>
